body,html { 
    margin: 0; 
    padding: 0;
    background-color: #F0F0F0;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Ultralight.otf) format("opentype");
    font-weight: lighter;
    font-style: normal;
  }

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Ultrabold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  /* DESINGN SYSTEM */

/* CITAZIONI */
h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}
/* TITOLI PAGINE + CITAZIONE GRANDE*/
h2 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}
/* TESTI GRANDI MEDIA */
h3 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/* BODY */
p.body-2{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

p.body-1{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

/* SUB */
p.tappa-approfondimenti{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

p.p-fonti{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.white{
    color: #f0f0f0;
}

.background_blu{
    background-color: #0047CC;
}

.margin-top{
    margin-top: 60px;
}

.margin-top-2{
    margin-top: 120px;
}

.padding-top{
    padding-top: 60px;
}

.padding-top-2{
    padding-top: 120px;
}

.padding-left{
    padding-left: 60px;
}

.padding-bottom{
    padding-bottom: 60px;
}
.padding-bottom-2{
    padding-bottom: 120px;
}

/* CARTIGLIO */
.cartiglio p{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

.cartiglio_mappa p{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 0.65rem;
}

  /* bordi griglie */
.border_top{
    border-top: 1px solid;
  }
.border_right{
    border-right: 1px solid;
  }
.border_bottom{
    border-bottom: 1px solid;
  }
.border_left{
    border-left: 1px solid;
  }

  /* bordi griglie bianchi */
.border_top_w{
    border-top: 1px solid;
    border-color: #F0F0F0;
  }
.border_right_w{
    border-right: 1px solid;
    border-color: #F0F0F0;
  }
.border_bottom_w{
    border-bottom: 1px solid;
    border-color: #F0F0F0;
  }
.border_left_w{
    border-left: 1px solid;
    border-color: #F0F0F0;
  }

/* ******************** FIRST PAGE ***************** */
.home_container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 10;
}

.sfondo_homepage{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.home{
    margin-top: 140px;
}

.logo_tipo{
    width: 100%;
}

.abstract{
    margin-top: 80px;
}

.start{
    margin-top: 50px;
}

.start_default{
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

.start_default:hover{
    position: absolute;
    opacity: 0;
}

.start_hover{
    cursor: pointer;
}

.cartiglio{
    height: 30px;
    margin-top: 30vh;
}


 /* ignore P default settings */
 p {
    margin: 0;
 }

#map { 
    position: fixed;
    height: 100vh;
    width: 100vw; 
}

#logo_su_mappa{
    width: 30px;
    position: fixed;
    left: 60px;
    top: 30px;
    z-index: 10;
    cursor: pointer;
    pointer-events: all;
}

#logo{
    position: absolute;
}

#logo_su_mappa img{
    opacity: 0;
}

#logo_su_mappa img.visible{
    opacity: 1;
}

#button_satellite{
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 150px;
    top: 30px;
    z-index: 10;
}

.satellite_off{
    position:absolute;
    z-index: 10;
    opacity: 0;
}

.satellite_off.visible{
    opacity: 1;
}

.satellite_off.visible:hover{
    opacity: 0;
}

.idrografica_off{
    position:absolute;
    z-index: 10;
    opacity: 0;
}

.idrografica_off.visible{
    opacity: 1;
}

.idrografica_off.visible:hover{
    opacity: 0;
}

#button_credits{
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 10;
}

.credits_off{
    position:absolute;
    opacity: 1;
}

.credits_off:hover{
    opacity: 0;
}

/* ******************** CARD - STYLE ***************** */
.card {
     /* 534px- 20px padding */
    /* height: 514px; */
    width: 25vw;
    padding: 20px;

    border: 2px solid black;
    border-radius: 0!important;

    position: fixed;
    top: 100px;
    left: -100vw;

    z-index: 10;
    background-color: white;

    transition: right 0.2s ease-in;
    transition-delay: 1s;
    box-sizing: border-box;
    padding: 20px;

    /* auto resize */
    resize: vertical;
}

/* CARD - CLOSE BUTTON */
.card .close{
    z-index: 12;
    /* ignore parent padding */
    margin-right: -2px;
    margin-top: -2px;
    cursor: pointer;
}

.close_default{
    position: absolute;
    width: 45px;
    opacity: 1;
}

.close_default:hover{
    opacity: 0;
}

.close_hover{
    width: 45px;
    opacity: 1;
}

/* CARD - FOTO */
.card .foto{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    background-color: #F0F0F0;
    z-index: 11;
    margin-bottom: 28px;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD - TEXT */
.card h3 {
    font-family: 'PP Telegraf';
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 35px;
    margin-bottom: 12px;
    /* ignore default padding + 30px (center alignment) * /
    margin-top: 30px;
    /* ignore default padding */
    margin-right: 0;
}
.card .descrizione {   
    font-family: 'PP Telegraf';
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

/* CARD - PIN */
.pin{
    position: absolute;
    width: 23px;
    z-index: 12;
}

/* CARD - SCOPRI */
.card .scopri{
    font-family: 'PP Telegraf';
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline black 4px;
     /* ignore default margin */
    margin: 0;
    cursor: pointer;
}

.card.visible {
    left: 122px;
}

/* FRECCE NAVIGAZIONE */

.button-next {
    position: fixed;
    width: 40px;
    right: 60px;
    bottom: 50px;
    font-size: 40px;
    z-index: 1;
    color: #FFF;
    cursor: pointer;
}
.button-prev {
    position: fixed;
    width: 40px;
    left: 60px;
    bottom: 50px;
    font-size: 40px;
    z-index: 1;
    color: #FFF;
    cursor: pointer;
}

.arrow{
    position: absolute;
    margin-top: 15px;
    opacity: 1;
}

.arrow:hover{
    opacity: 0;
}


/* RIGHE approfondimenti 1 */
.approfondimenti {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    z-index: 11;

    background-color: #fff;
    opacity: 0;

    pointer-events: none;
    transition: opacity 0.2s linear;

    padding:0;
    overflow:auto;
}

.approfondimenti.visible {
    opacity: 1;
    pointer-events: all;
}

.approfondimenti_header{
    position: relative;
    padding: 0px;
    height: 80px;
    box-sizing: border-box;
    z-index: 10;
}

.approfondimenti_header .close_default{
    margin-top: 19px;
    z-index: 20;
}
.approfondimenti_header .close_default:hover{
    opacity: 0;
}

.approfondimenti_header .close img {
    width: 40px;
    cursor: pointer;
} 

.approfondimenti_header .logo img {
    z-index: 15;
    width: 40px;
    cursor: pointer;
} 

.tappa{
    font-family: 'PP Telegraf';
    font-weight: normal;
    font-size: 16px;
}

.container_title_approfondimenti{
    position: relative;
    z-index: 10;
    height: 240px;
}

.container_title_approfondimenti-2{
    position: relative;
    z-index: 10;
    height: 240px;
}

.fonti{
    padding-left: 60px;
    padding-top: 60px;
}

.container_video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.citazione-approfondimenti-1{
    padding: 100px;
}

.articolo-approfondimenti-1{
    padding-top: 110px;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
}

.quotes_apertura{
    margin-left: -50px;
    height: 30px;
}

.quotes_chiusura{
    margin-right: -10px;
    text-align: end;
}

.back_to_top{
    height: 80px;
}

.back_to_top a{
    color: #000000;
    text-decoration: none;
    margin: auto;
}

.back_to_top a:hover{
    text-decoration: underline;
}

.cartiglio_mappa{
    position: fixed;
    width: 100vw;
    height: 30px;
    margin-top: 30px;
    z-index: 9;
}

/************* Approfondimento Candia Lomellina *************/
.container_title_lomellina{
    position: absolute;
}

.candia_lomellina_slider{
    width: 100vw;
    top:0;
}

#candia_lomellina{
    color: #F0F0F0;
}

.articolo-approfondimenti-2{
    padding-top: 110px;
    padding-left: 120px;
    padding-right: 340px;
    padding-bottom: 110px;
}

.articolo-approfondimenti-2_1{
    padding-top: 110px;
    padding-bottom: 110px;
}

.citazioni-approfondimenti-2{
    background-color: #0047CC;
    padding-top: 110px;
    padding-bottom: 110px;
}
.citazioni-approfondimenti-2_1{
    background-color: #0047CC;
    padding-top: 110px;
}
.citazioni-approfondimenti-2_2{
    background-color: #0047CC;
    padding-top: 80px;
    padding-bottom: 140px;
}

/************* Approfondimento Grandi Laghi *************/

.container-testi{
    padding-bottom: 110px;
    padding-left: 0;
    padding-right: 0;
}

.button-laghi{
    cursor: pointer;
    height: 50px;
    width: 25%;
    float: left;
    text-align: center;
}

.button-laghi:hover{
    text-decoration: underline;
}

.button-laghi.active{
    background-color: #0047CC;
    color: #F0F0F0;
}

.container_laghi_indentikit{
    height: 700px;
}

.laghi_img{
    height: 700px;
    width: 100%;
    object-fit: fill;
}

.tabella_laghi{
    height: 12.5%;
    display: flex;
    align-items: center;
}

/************* Approfondimento Piacenza *************/

.button-anni{
    cursor: pointer;
    height: 50px;
    float: left;
}

.button-anni.active{
    background-color: #0047CC;
    color: #F0F0F0;
}

.dataviz_piacenza{
    width: 80%;
}

























/* `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    /************************************** DS ****************/
    h1 {
        font-weight: bold;
        font-size: 56px;
    }
    
    h2 {
        font-weight: bold;
        font-size: 56px;
        line-height: 58px;
    }
    
    h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
    }
    
    /* BODY */
    p.body-2{
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    
    p.body-1{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
    
    /* SUB */
    p.tappa-approfondimenti{
        font-weight: normal;
        font-size: 16px;
    }
    
    p.p-fonti{
        font-weight: normal;
        font-size: 16px;
    }

    /**************************************** homepage xs ****************/
    .home{
        margin-top: 90px;
    }
    
    .abstract{
        margin-top: 80px;
    }
    .start{
        margin-top: 50px;
        width: 20%;
    }

    .start img{
        width: 50vw;
        object-fit: contain;
    }

    .cartiglio{
        height: 30px;
        margin-top: 10vh;
    }    

    /*************************************** elementi navigazione *******/

    #logo_su_mappa{
        width: 30px;
        left: 20px;
        top: 30px;
    }

    #button_satellite{
        height: 30px;
        position: fixed;
        right: 20px;
        top: 30px;
    }

    #button_credits{
        display: none;
    }

    .button-next {
        width: 35px;
        right: 20px;
        bottom: 50px;
    }
    
    .button-prev {
        width: 35px;
        left: 20px;
        bottom: 50px;
    }

    .arrow{
        margin-top: 17px;
    }

    .cartiglio_mappa{
        display: none !important;
    }

    .card{
        width: 60vw;
        padding: 10px;
        border: 2px solid black;
        top: 100px;
    }

}