body,html { 
    margin: 0; 
    padding: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

/* .row{
    margin: 0; 
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
} */

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Ultralight.otf) format("opentype");
    font-weight: lighter;
    font-style: normal;
  }

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_Ultrabold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'PP Telegraf';
    src: url(../fonts/PPTelegraf_RegularSlanted.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
  }

  /* DESINGN SYSTEM */

/* CITAZIONI */
h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
}
/* TITOLI PAGINE + CITAZIONE GRANDE*/
h2 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
}
/* TESTI GRANDI MEDIA */
h3 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
/* TESTI CITAZIONI */
h3.citazioni {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
/* TITOLI DATAVIZ */
h4 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* BODY */
p.body-2{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

p.body-1{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

/* SUB */
p.tappa-approfondimenti{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

p.p-fonti{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.italic{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-style: italic;
}

.white{
    color: #f0f0f0;
}

.background_blu{
    background-color: #0047CC;
}

.margin-top{
    margin-top: 60px;
}

.margin-top-2{
    margin-top: 120px;
}

.padding-top{
    padding-top: 60px;
}

.padding-top-2{
    padding-top: 120px;
}

.padding-top-3{
    padding-top: 150px;
}

.padding-left{
    padding-left: 60px;
}

.padding-right{
    padding-right: 80px;
}

.padding-bottom{
    padding-bottom: 60px;
}
.padding-bottom-2{
    padding-bottom: 120px;
}

.no-wrap{
    white-space: nowrap;
}

/* CARTIGLIO */
.cartiglio p{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

.cartiglio_mappa p{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 0.65rem;
}

  /* bordi griglie */
.border_top{
    border-top: 1px solid;
  }
.border_right{
    border-right: 1px solid;
  }
.border_bottom{
    border-bottom: 1px solid;
  }
.border_left{
    border-left: 1px solid;
  }

  /* bordi griglie bianchi */
.border_top_w{
    border-top: 1px solid;
    border-color: #F0F0F0;
  }
.border_right_w{
    border-right: 1px solid;
    border-color: #F0F0F0;
  }
.border_bottom_w{
    border-bottom: 1px solid;
    border-color: #F0F0F0;
  }
.border_left_w{
    border-left: 1px solid;
    border-color: #F0F0F0;
  }

/* ******************** FIRST PAGE ***************** */
.home_container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 10;
}

.sfondo_homepage{
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.background_img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home{
    margin-top: 80px;
}

.logo_tipo{
    width: 100%;
}

.abstract{
    margin-top: 80px;
}

.start{
    margin-top: 50px;
}

.start_default{
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

.start_default:hover{
    position: absolute;
    opacity: 0;
}

.start_hover{
    cursor: pointer;
}

.installazione{
    margin-top: 5px;
}

.installazione_default{
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

.installazione_default:hover{
    position: absolute;
    opacity: 0;
}

.installazione_hover{
    cursor: pointer;
}


.chi_siamo{
    margin-top: 25px;
}

.chi_siamo_default{
    position: absolute;
    cursor: pointer;
    opacity: 1;
    width: 120px;
}

.chi_siamo_default:hover{
    position: absolute;
    opacity: 0;
}

.chi_siamo_hover{
    cursor: pointer;
    width: 120px;
}

.cartiglio{
    height: 30px;
    margin-top: 150px;

}


 /* ignore P default settings */
 p {
    margin: 0;
 }

#map { 
    position: fixed;
    height: 100vh;
    width: 100vw; 
}

#logo_su_mappa{
    width: 30px;
    position: fixed;
    left: 60px;
    top: 30px;
    z-index: 10;
    cursor: pointer;
    pointer-events: all;
}

#logo{
    position: absolute;
}

#logo_su_mappa img{
    opacity: 0;
}

#logo_su_mappa img.visible{
    opacity: 1;
}

#button_satellite{
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 150px;
    top: 30px;
    z-index: 10;
}

.satellite_off{
    position:absolute;
    z-index: 10;
    opacity: 0;
    right: 120px;
}

.satellite_off.visible{
    opacity: 1;
}

.satellite_off.visible:hover{
    opacity: 0;
}

.satellite_active{
    position: absolute;
    right: 120px;
}

.idrografica_off{
    position:absolute;
    z-index: 10;
    opacity: 0;
}

.idrografica_off.visible{
    opacity: 1;
}

.idrografica_off.visible:hover{
    opacity: 0;
}

#button_credits{
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 60px;
    top: 30px;
    z-index: 10;
}

.credits_off{
    position:absolute;
    opacity: 1;
}

.credits_off:hover{
    opacity: 0;
}

/* ******************** CARD - STYLE ***************** */
.card {
     /* 534px- 20px padding */
    /* height: 514px; */
    width: 25vw;
    padding: 20px;

    border: 2px solid black;
    border-radius: 0!important;

    position: fixed;
    top: 100px;
    left: -100vw;

    z-index: 10;
    background-color: white;

    transition: right 0.2s ease-in;
    transition-delay: 1s;
    box-sizing: border-box;
    padding: 20px;

    /* auto resize */
    resize: vertical;
}

/* CARD - CLOSE BUTTON */
.card .close{
    z-index: 12;
    /* ignore parent padding */
    margin-right: -2px;
    margin-top: -2px;
    cursor: pointer;
}

.close_default{
    position: absolute;
    width: 45px;
    opacity: 1;
}

.close_default:hover{
    opacity: 0;
}

.close_hover{
    width: 45px;
    opacity: 1;
}

/* CARD - FOTO */
.card .foto{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    background-color: #F0F0F0;
    z-index: 11;
    margin-bottom: 28px;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD - TEXT */
.card h3 {
    font-family: 'PP Telegraf';
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 35px;
    margin-bottom: 12px;
    /* ignore default padding + 30px (center alignment) * /
    margin-top: 30px;
    /* ignore default padding */
    margin-right: 0;
}
.card .descrizione {   
    font-family: 'PP Telegraf';
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

/* CARD - PIN */
.pin{
    position: absolute;
    width: 23px;
    z-index: 12;
}

/* CARD - SCOPRI */
.card .scopri{
    font-family: 'PP Telegraf';
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline black 4px;
     /* ignore default margin */
    margin: 0;
    cursor: pointer;
}

.card.visible {
    left: 122px;
}

/* FRECCE NAVIGAZIONE */

.button-next {
    position: fixed;
    width: 45px;
    right: 60px;
    bottom: 50px;
    font-size: 40px;
    z-index: 1;
    color: #FFF;
    cursor: pointer;
}
.button-prev {
    position: fixed;
    width: 45px;
    left: 60px;
    bottom: 50px;
    font-size: 40px;
    z-index: 1;
    color: #FFF;
    cursor: pointer;
}

.arrow{
    position: absolute;
    margin-top: 12.5px;
    opacity: 1;
}

.arrow:hover{
    opacity: 0;
}


/* RIGHE approfondimenti 1 */
.approfondimenti {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    z-index: 11;

    background-color: #f0f0f0;
    opacity: 0;

    pointer-events: none;
    transition: opacity 0.2s linear;

    padding:0;
    overflow:auto;
}

.approfondimenti.visible {
    opacity: 1;
    pointer-events: all;
}

.approfondimenti_header{
    position: relative;
    padding: 0px;
    height: 80px;
    box-sizing: border-box;
    z-index: 10;
}

.approfondimenti_header .close_default{
    margin-top: 19px;
    z-index: 20;
}
.approfondimenti_header .close_default:hover{
    opacity: 0;
}

.approfondimenti_header .close img {
    width: 40px;
    cursor: pointer;
} 

.approfondimenti_header .logo img {
    z-index: 15;
    width: 40px;
    cursor: pointer;
} 

.tappa{
    font-family: 'PP Telegraf';
    font-weight: normal;
    font-size: 16px;
}

.container_title_approfondimenti{
    position: relative;
    z-index: 10;
    height: 240px;
}

.container_title_approfondimenti-2{
    position: relative;
    z-index: 10;
    height: 240px;
}

.fonti{
    padding-left: 60px;
    padding-top: 60px;
}

.container_video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.citazione-approfondimenti-1{
    padding: 100px;
}

.articolo-approfondimenti-1{
    padding-top: 110px;
    padding-left: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
}

.quotes_apertura{
    margin-left: -50px;
    height: 30px;
}

.quotes_chiusura{
    margin-right: -10px;
    text-align: end;
}

.back_to_top{
    height: 80px;
}

.back_to_top a{
    color: #000000;
    text-decoration: none;
    margin: auto;
}

.back_to_top a:hover{
    text-decoration: underline;
}

.cartiglio_mappa{
    position: fixed;
    width: 100vw;
    height: 30px;
    margin-top: 30px;
    z-index: 9;
}

/************* Approfondimento Candia Lomellina *************/
.container_title_lomellina{
    position: absolute;
}

.candia_lomellina_slider{
    width: 100vw;
    top:0;
}

.candia_lomellina_img_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    top:0;
}

.candia_lomellina_img_container img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#candia_lomellina{
    color: #F0F0F0;
}

.articolo-approfondimenti-2{
    padding-top: 110px;
    padding-left: 120px;
    padding-right: 340px;
    padding-bottom: 110px;
}

.articolo-approfondimenti-2_1{
    padding-top: 110px;
    padding-bottom: 110px;
}

.citazioni-approfondimenti-2{
    background-color: #0047CC;
    padding-top: 110px;
    padding-bottom: 110px;
}
.citazioni-approfondimenti-2_1{
    background-color: #0047CC;
    padding-top: 110px;
}
.citazioni-approfondimenti-2_2{
    background-color: #0047CC;
    padding-top: 80px;
    padding-bottom: 140px;
}

.link_chora_media{
    text-decoration: none;
    color: #F0F0F0;
}

.link_chora_media:hover{
    text-decoration: underline;
    color: #F0F0F0;
}

/************* Approfondimento Grandi Laghi *************/

.container-testi{
    padding-bottom: 110px;
    padding-left: 0;
    padding-right: 0;
}

.button-laghi{
    cursor: pointer;
    height: 50px;
    width: 25%;
    float: left;
    text-align: center;
}

.button-laghi:hover{
    text-decoration: underline;
}

.button-laghi.active:hover{
    text-decoration: none;
}

.button-laghi.active{
    background-color: #0047CC;
    color: #F0F0F0;
}

.fonti_laghi{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_img_laghi{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.laghi_img{
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.tabella_laghi{
    height: 14.3%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.dataviz_img{
    width: 100%;
    padding-top: 30px;
}

.fonti_dataviz{
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/************* Approfondimento Mezzanino *************/

.frasi_citazioni_mezzanino{
    padding-top: 150px;
}

.chi_citazioni_mezzanino{
    padding-top: 40px;
}

/************* Approfondimento Piacenza *************/

.approfondimenti_piacenza{
    padding: 100px;
}

.dataviz_piacenza{
    width: 80%;
}

.dataviz_legenda{
    width: 100%;
    padding-top: 30px;
}

.dataviz_descrizione_piacenza{
    padding-top: 60px;
}

/************* Approfondimento Cremona *************/

.approfondimenti_cremona{
    padding: 100px;
}

.dataviz_legenda_gif{
    width: 100%;
    padding-top: 40px;
}

/************* Approfondimento Boretto *************/

.approfondimenti_boretto{
    padding: 100px;
}

.dataviz_boretto{
    width: 80%;
}

.dataviz_descrizione_boretto{
    padding-top: 60px;
}

.bollettino_boretto{
    font-family: 'PP Telegraf', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding-top: 40px;
    padding-left: 60px;
}

.approfondimenti_boretto{
    padding: 100px;
}

/************* Approfondimento Pontelagoscuro *************/


.dataviz_descrizione_pontelagoscuro{
    padding-top: 60px;
}

/************* Approfondimento Delta *************/


.container_img_mappa{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mappa_img{
    height: 900px;
    width: 100%;
    object-fit: cover;
}

.dataviz_img_delta{
    padding-right: 20px;
    padding-left: 20px;
}

.dataviz_slider_delta{
    padding-right: 20px;
    padding-left: 20px;
} 

#margin_control_prev{
    margin-left: -70px;
    padding: 0;
}

#margin_control_next{
    margin-right: -70px;
    padding: 0;
}

/********** SVG CONFRONTO ******/

.st0{fill:#0047CC;}
.st1{fill:#F0F0F0;}
.st2{fill:#CCDAF5;}
.st3{fill:none;stroke:#F0F0F0;stroke-width:0.75;stroke-miterlimit:10;}
.st4{fill:none;stroke:#CCDAF5;stroke-miterlimit:10;}
.st5{fill:none;stroke:#CCDAF5;stroke-miterlimit:10;stroke-dasharray:12.0062,10.0051;}
.st6{fill:none;stroke:#F0F0F0;stroke-width:0.5;stroke-miterlimit:10;}
.st7{opacity:0;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

#Scardovari_mare.selezionata{
    opacity: 1;
}

.boa_traccia{
    opacity: 0.3;
}

.boa_traccia.selezionata{
    opacity: 1;
    z-index: 15;
}


.boa_traccia:hover #Scardovari_mare{
    opacity: 0;
}

/********** SCROLL *************/

.scrolly {
    position: relative;
    display: flex;
    background-color: #0047CC;
}

.scrollable-column {
    width: 60vw;
    background-color: #0047CC;
    padding-right: 60px;
}

.sticky-column {
    width: 40vw;
    height: 100vh;
    position: sticky;
    top: 0px;
    background-color: #0047CC;
}

.step {
    background-color: #0047CC;
    color: #f0f0f0;
    height: 100vh;
    padding: 0;
}


/**************************************************************** Installazione ********************/


.installazione_pag {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    background-color: #f0f0f0;

    padding:0;
    overflow:auto;
}





/**************************************************************** About ********************/

.about {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    background-color: #f0f0f0;

    padding:0;
    overflow:auto;
}

.about-2 {
    position: fixed;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    z-index: 11;

    background-color: #f0f0f0;
    opacity: 0;
    
    pointer-events: none;
    transition: opacity 0.2s linear;
    
    padding:0;
    overflow:auto;
}

.about-2.visible {
opacity: 1;
pointer-events: all;
}

.container_img_chi_siamo{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%; 
}

.chi_siamo_img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






































/* `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    /************************************** DS ****************/
    h1 {
        font-weight: bold;
        font-size: 56px;
    }
    
    h2 {
        font-weight: bold;
        font-size: 56px;
        line-height: 58px;
    }
    
    h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
    }
    
    /* BODY */
    p.body-2{
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    
    p.body-1{
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
    }
    
    /* SUB */
    p.tappa-approfondimenti{
        font-weight: normal;
        font-size: 16px;
    }
    
    p.p-fonti{
        font-weight: normal;
        font-size: 16px;
    }

    /**************************************** homepage xs ****************/
    .home{
        margin-top: 60px;
    }

    .logo_tipo{
        width: 100%;
    }
    
    .abstract{
        margin-top: 50px;
    }
    .start{
        margin-top: 50px;
    }

    .installazione{
        margin-top: 10px;
    }

    .start img, .installazione img{
        width: 55vw;
        object-fit: contain;
    }

    .chi_siamo {
        margin-top: 15px;
    }

    .chi_siamo img {
        width: 25vw;
        object-fit: contain;
    }

    .cartiglio{
        height: 30px;
        margin-top: 10vh;
        width: 100vw;
        object-fit: contain;
    }    

    .cartiglio p{
        font-size: 0.8rem;
    }

    /*************************************** elementi navigazione *******/

    #logo_su_mappa{
        width: 30px;
        left: 20px;
        top: 30px;
    }

    #button_satellite{
        height: 30px;
        position: fixed;
        right: 20px;
        top: 30px;
    }

    #button_credits{
        display: none;
    }

    .button-next {
        width: 35px;
        right: 20px;
        bottom: 50px;
    }
    
    .button-prev {
        width: 35px;
        left: 20px;
        bottom: 50px;
    }

    .arrow{
        margin-top: 17px;
    }

    .cartiglio_mappa{
        display: none !important;
    }

    .card{
        width: 60vw;
        padding: 10px;
        border: 2px solid black;
        top: 100px;
    }

}